<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= controller_name == "games" ? 'gamenavbar' : '' %>">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h2 class="title"> FilmFighter </h2>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <% if user_signed_in? %>
            <div class="dropdown mr-4" style="font-size: 28px;">

              <div id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-bell"><span class="badge" id="notification-number" style="font-family: Poppins; font-weight: 400"><%= current_user.notifications.count %></span></i>
              </div>
              <div class="dropdown-menu dropdown-menu-right notificationContainer" aria-labelledby="dLabel" style="display: block;" >
                <%= render partial: "shared/notification", locals: { user: current_user } %>
              </div>
            </div>
          <%end%>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, height: 35, width: 35, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
          <% else %>
            <%= image_tag "https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="display: block;">
            <h4 class="dropdown-header" style="font-weight: bold; text-align: center; color: #50fa7b;"><%= current_user.name %></h4>
            <div class="options-dropdown">
              <div class="dropdown-divider" style="border-top: 1px solid gray;"></div>
              <%= link_to "Leaderboard", generate_leader_board_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
