<div class="container my-5" style="margin: auto auto;">
  <div class="d-flex justify-content-center align-items-center" style="max-width: 1200px;">
    <div class="waiting-content col-xs-12 col-sm-10 col-md-8 col-lg-8" style="color: white;">
      <h1 class = "text-center mt-1" style="font-family: Poppins; font-weight: 600"><%= "#{@winner.name} Wins" %></h1>
      <hr>
      <div class="winnerImage">
        <% if @winner.photo.attached? %>
          <%= cl_image_tag @winner.photo.key, height: 300, width: 300, crop: :fill, class: "endImg" %>
        <% else %>
          <%= image_tag "https://t4.ftcdn.net/jpg/00/64/67/63/240_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg", height: 300, width: 300, crop: :fill, class: "endImg"%>
        <% end %>
      </div>
        <h4 class="text-center my-3" style="font-family: Poppins; font-weight: 400"> <%= "#{@game.host.name}: " + "#{pluralize(@game.host_score, 'point')}" %> </h4>
        <h4 class="text-center my-3" style="font-family: Poppins; font-weight: 400"> <%= "#{@game.player.name}: " + "#{pluralize(@game.player_score, 'point')}" %></h4>
        <%= form_tag("/", method: "get") do %>
          <%= submit_tag("Home", class:'btn-gradient w-100 mt-3') %>
        <% end %>
    </div>
  </div>
</div>

