<div class="scoreboard">
  <div>
    <div class="name-score">
      <h4 id="host-name"><%= @game.host.name.capitalize%></h4>
      <p style="color:white;"><%= @game.host_score %></p>
    </div>
  </div>
    <h1 class="turns-left">Turns Left: <%= @game.game_questions.count - @game.turn_number %></h1>
  <div>
    <div class="name-score">
      <h4 id="player-name"><%= @game.player.name.capitalize%> </h4>
      <p style="color:white;"><%= @game.player_score %></p>
    </div>
  </div>
</div>
