<h1> Games Show page </h1>
<h3> #games_controller -> games#show</h3>
<p>
<%= @game.host.name %> vs. <%= @game.player.name %>
</p>
<div class="container">
  <%= @game_question.question.link  %>
  <%=@game_question.order_number%>
  
  <%= form_tag("/games/#{@game.id}/answer", method: "PATCH") do %>
    <%= select_tag "answer", options_for_select(@game_question.question.all_answers) %>
    <%= submit_tag("Next Question") %>
  <% end %>

</div>
