<h1> Games Show page </h1>
<h3> #games_controller -> games#show</h3>
<p>
<%= @game.host.name %> vs. <%= @game.player.name %>
<%= current_user.id %>
<%= @game.player_id %>

</p>
<div class="container">

  <iframe src="https://player.vimeo.com/video/<%= @gamequestions[@game.turn_number].question.link %>?autoplay=1&muted=1#t=40s" 
          width="640" 
          height="360" 
          frameborder=“0” 
          allowfullscreen 
          allow=autoplay>
  </iframe>
  
  <% @game_question.question.all_answers.shuffle.each do |ans|%>
    <p>
      <%= link_to ans, game_answer_path(@game, {answer: ans}), method: "PATCH" %>
    </p>
  <% end %>

  <div id="gameInfo" data-game-id = "<%=@game.id%>">
    Turn number: <%= @game.turn_number %>
  </div>
  

</div>
