<h1> Games Show page </h1>
<h3> #games_controller -> games#show</h3>
<p>
<%= @game.host.name %> vs. <%= @game.player.name %>
<%= current_user.id %>
<%= @game.player_id %>

</p>
<div class="container">
  <%= @gamequestions[@game.turn_number].question.link %>
  <%= form_tag("/games/#{@game.id}/answer", method: "PATCH") do %>
    <%= submit_tag("Next Question") %>
  <% end %>
</div>
